expose/**

!expose/images
!expose/images/**
!expose/expose_daniel_ebert_sebastian_scherer.tex
!expose/literatur.bib

**/docs/**

venv

ansi-2020wise-ebert-scherer-ausarbeitung/**

!ansi-2020wise-ebert-scherer-ausarbeitung/Images
!ansi-2020wise-ebert-scherer-ausarbeitung/Images/**
!ansi-2020wise-ebert-scherer-ausarbeitung/ausarbeitung.tex
!ansi-2020wise-ebert-scherer-ausarbeitung/ausarbeitung.bib
!ansi-2020wise-ebert-scherer-ausarbeitung/ansi-2020wise-ebert-scherer-ausarbeitung.tex
