ansi-2020wise-scherer-ebert-konzept/**

!ansi-2020wise-scherer-ebert-konzept/images
!ansi-2020wise-scherer-ebert-konzept/images/**
!ansi-2020wise-scherer-ebert-konzept/expose_daniel_ebert_sebastian_scherer.tex
!ansi-2020wise-scherer-ebert-konzept/literatur.bib

**/docs/**

venv

Seminar/**

!Seminar/Images
!Seminar/Images/**
!Seminar/ebert-scherer-sso.tex
!Seminar/ebert-scherer-sso.bib
!Seminar/seminar-ebert-scherer.tex
!Seminar/Quellen
!Seminar/Quellen/**
