ansi-2020wise-scherer-ebert-konzept/**

!ansi-2020wise-scherer-ebert-konzept/images
!ansi-2020wise-scherer-ebert-konzept/images/**
!ansi-2020wise-scherer-ebert-konzept/expose_daniel_ebert_sebastian_scherer.tex
!ansi-2020wise-scherer-ebert-konzept/literatur.bib

**/docs/**

venv

ansi-2020wise-ebert-scherer-ausarbeitung/**

!ansi-2020wise-ebert-scherer-ausarbeitung/Images
!ansi-2020wise-ebert-scherer-ausarbeitung/Images/**
!ansi-2020wise-ebert-scherer-ausarbeitung/ansi-2020wise-ebert-scherer-ausarbeitung.tex
!ansi-2020wise-ebert-scherer-ausarbeitung/ansi-2020wise-ebert-scherer-ausarbeitung.bib
!ansi-2020wise-ebert-scherer-ausarbeitung/seminar-ebert-scherer.tex
!ansi-2020wise-ebert-scherer-ausarbeitung/Quellen
!ansi-2020wise-ebert-scherer-ausarbeitung/Quellen/**
